/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*Главные стили сайта*/
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}
/*Блок с контактами в шапке сайта*/
.box-contacts {
    width: 100%;
    background: #6FCF97;
}
.box-contacts-inner {
    display: flex;
    justify-content: flex-start;
}
.box-contacts span {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    color: #FFF;
}
.link-tel {
    text-decoration: none;
    color: white;
}
.link-tel:hover {
    text-decoration: underline dotted;
    color: white;
}
.box-contacts .icon {
    margin-right: 10px;
    font-size: 1.3rem;
    color: #FFF;
}
/*Блок с слайдом в шапке*/
.box-header {
    flex: 0 0 auto;

    width: 1200px;
    max-width: 100%;
    height: 480px;
    background: url('../assets/slide.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 4px solid #6FCF97;
}
.slide-one p {
    font-family: 'Montserrat', sans-serif;
    padding: 16rem 3rem 0;
    width: 700px;
    max-width: 100%;
    font-size: 1.7rem;
    font-weight: bold;
    color: #222;
    text-shadow: #ffffff 1px 0 10px;
}
.slide-one button {
    margin: 2rem 3rem 3rem 3rem;
    padding: 10px 45px 10px 45px;
    border: none;
    color: white;
    background: #6FCF97;
    cursor: pointer;
    border-radius: 5px;
}
.slide-one button:hover {
    background: #2ddbdb;
}
/*Блок с логотипом и навигацией по сайту*/
.box-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    max-width: 100%;
    padding: 15px;
    position: absolute;
    background: rgba(255, 255, 255, 0.700);
    z-index: 10000;
}
.logo {
    /* font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
    color: #222;
    transition: all 0.5s; */
}
/*Блок навигации сайта*/
.nav {
    display: block;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav-list li {
    font-family: 'Staatliches', sans-serif;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.nav-list a {
    text-decoration: none;
    color: #222;
}
.nav-list a:hover {
    color: #db5723;
    text-decoration: underline;
}
#check {
    display: none;
}
.check-btn {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #222;
}
.close-btn {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #222;
}
/*Блок с каталогом товара*/
.box-catalog {
    position: relative;
}
.box-title {
    text-align: center;
    padding-top: 20px;
}
.box-title p {
    font-size: 1.2rem;
    font-weight: bold;

    display: inline-block;
    border-bottom: 2px solid #6FCF97;
}
.box-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 1200px;
    max-width: 100%;
    padding-top: 25px;
}
.box-card-item {
    width: 250px;
    height: 340px;
    border: 2px solid #6FCF97;
}
.box-card-item:hover {
    border: 2px solid #db5723;
    transition: 0.5s;
}
.box-img {
    width: 246px;
    height: 165px;
}
.box-text {
    padding-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.box-text h3 {
    border-bottom: 1px solid #6FCF97;
}
.box-text span {
    text-align: center;
}
.box-text p {
    font-size: 16px;
    font-weight: bold;
}
.box-text button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
    background: #6FCF97;
    color: #fff;
}
.box-text button:hover {
    background: #2ddbdb;
}
/*Блок О нас*/
.box-about-us {
    width: 1200px;
    max-width: 100%;
    height: 400px;
    background: url('../assets/about-us.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 4px solid #6FCF97;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-about-us p {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: #222;
    text-shadow: #ffffff 1px 0 10px;
}
.box-about-us button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
    background: #6FCF97;
    color: #fff;
}
.box-about-us button:hover {
    background: #2ddbdb;
}
/*Блок с приемуществом*/
.box-our-advantages {
    width: 1200px;
    max-width: 100%;
    padding: 40px;
    border-bottom: 4px solid #6FCF97;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.card-advantages-item {
    border: 2px solid #6FCF97;
    text-align: center;
    font-size: 18px;
    width: 250px;
    transition: 0.5s;
}
.card-advantages-item:hover {
    border: 2px solid #db5723;
    border-radius: 50px;
    transition: 0.5s;
}
.card-advantages-item p {
    margin-bottom: 10px;
}
/*Блок Почему стоит выбрать нас?*/
.box-why-are-we {
    margin-top: 5px;
    width: 1200px;
    max-width: 100%;
    padding: 80px 0 80px 0;
    background: url('/assets/img-1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 4px solid #6FCF97;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-why-item {
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.800);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-why-item:hover {
    background: #ffffff;
    transition: 0.7s;
}
.card-why-item p {
    font-size: 3rem;
    font-weight: bold;
    color: #6FCF97;
}
.card-why-item span {
    font-size: 1rem;
}
/*Блок новостей*/
.box-news {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 5px;
}
.news-item {
    width: 320px;
    max-width: 100%;
    height: 400px;
}
.box-news-img {
    width: 320px;
    height: 190px;
    text-align: center;
}
.box-news-img img {
    border-radius: 5px;
}
.box-news-title {
    padding: 10px;
    font-size: 14px;
}
.box-news-date {
    padding: 10px;
}
.box-news-text {
    padding: 10px;
}
.box-news-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-all-news {
    border: none;
    background: #6FCF97;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    color: #fff;
}
.btn-all-news:hover {
    background: #2ddbdb;
}
/*Блок контактов*/





footer {
    flex: 0 0 auto;

    width: 100%;
    height: 300px;
    background: #222;
}
/*Адаптивность сайта контрольные точки bootstrap 5*/
@media (max-width: 576px) {
    .box-contacts span {
        font-size: 12px;
    }
    .box-contacts .icon {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .box-header {
        height: 350px;
    }
    .slide-one p {
        padding: 10rem 2rem 0;
        font-size: 1.2rem;
        width: 400px;
    }
    .slide-one button {
        margin: 2rem 3rem 3rem 2rem;
        padding: 10px 25px 10px 25px;
    }
}
@media (max-width: 992px) {
    .nav {
        position: absolute;
        right: -100%;
    }
    .check-btn {
        display: block;
    }
    .close-btn {
        display: block;
        color: #fff;
    }
    #check:checked ~ .nav {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        padding: 20px;
        background: #6FCF97;
        border-bottom-left-radius: 50px;
        transition: 0.5s;
        z-index: 1000;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .nav-list a {
        color: #fff;
    }
    #check:checked ~ .close-btn {
        display: block;
    }
    #check:checked ~ .check-btn {
        display: block;
    }
}
@media (max-width: 1024px) {
    .box-our-advantages {
        flex-wrap: wrap;
    }
    .box-why-are-we {
        flex-wrap: wrap;
    }
    .card-why-item {
        width: 150px;
        height: 150px;
    }
    .box-news {
        flex-wrap: wrap;
    }
    .news-item {
        width: 300px;
        max-width: 100%;
    }
    .box-news-img {
        width: 300px;
        max-width: 100%;
    }

}
@media (max-width: 1200px) {

}